<div>
  <!--  Product Comments -->
  <ul>
    <h4> Comments </h4>
    <li ng-repeat="comment in product.comments">

      <blockquote>
        {{comment.body}}
        <cite class="clearfix">—{{comment.author}}  on {{comment.createdOn | date}}</cite>
      </blockquote>
    </li>
  </ul>

  <!--  Comment Form -->
  <form name="commentForm" role="form" ng-controller="CommentController as comments" ng-submit="comments.addComment(product)">
    <!--  Live Preview -->
    <blockquote>
      {{comments.comment.body}}
      <cite class="clearfix">—{{comments.comment.author}}</cite>
    </blockquote>

    <!--  Comment Form -->
    <h4>Drop a Comment</h4>
    <fieldset class="form-group">
      <textarea ng-model="comments.comment.body" class="form-control" placeholder="Write a short comment..." title="Comment"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="comments.comment.author" class="form-control" placeholder="Your friend..." title="Name" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Submit Comment" />
    </fieldset>
  </form>
</div>
